@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Expenses" class="btn btn-outline-dark">OverView</a>
    <a asp-action="CreateEditExpense" class="btn btn-outline-dark">Create new </a>
</div>
